# This is a basic workflow to help you get started with Actions
name: Releases

# Controls when the workflow will run
on: 
  push:
  # Triggers the workflow on push or pull request events but only for the tagged
    tags:
    - '*'
  
  # A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  releases:
    name: release apk
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: "11.0"
      FLUTTER_VERSION: "3.0.5"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: $
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: $
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test
      - run: flutter build apk --release
      - uses: ncipollo/release-action@v2
        with:
         artifacts: "build/app/outputs/flutter-apk/*.apk"
         token: $
